* {
	box-sizing: border-box;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	height: 20px;
	padding: 0 10px;
	text-align: center;
}

tr:nth-child(odd){
	background-color: #eee;
}

tr:nth-child(even){
	background-color: #ddd;
}

th {
	background-color: #ccc;
}